<section id="catalog" class="catalog section">
  <div class="container">
    <h2 class="section-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-item-overlay">
            <img
              srcset="./img/catalog/catalog-img-1@2x.png"
              src="./img/catalog/catalog-img-1.png"
              alt="Catalog Product Photo"
              width="276"
              height="274"
            />

            <div class="overlay">
              <p class="overlay-caption">[overlay caption here]</p>
              <p class="overlay-text">[overlay text here]</p>
              <p class="overlay-caption">[overlay caption here]</p>
              <p class="overlay-text">[overlay text here]</p>
            </div>
          </div>
          <div class="catalog-item-info">
            <p>[item name here]</p>
            <p>[item price here]</p>
          </div>
        </a>
      </li>
      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-item-overlay">
            <img
              srcset="../img/catalog/catalog-img-2@2x.png"
              src="../img/catalog/catalog-img-2.png"
              alt="Catalog Product Photo"
              width="276"
              height="274"
            />
            <div class="overlay">
              <p class="overlay-caption">[overlay caption here]</p>
              <p class="overlay-text">[overlay text here]</p>
              <p class="overlay-caption">[overlay caption here]</p>
              <p class="overlay-text">[overlay text here]</p>
            </div>
          </div>
          <div class="catalog-item-info">
            <p>[item name here]</p>
            <p>[item price here]</p>
          </div>
        </a>
      </li>
      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-item-overlay">
            <img
              srcset="../img/catalog/catalog-img-3@2x.png"
              src="../img/catalog/catalog-img-3.png"
              alt="Catalog Product Photo"
              width="276"
              height="274"
            />
            <div class="overlay">
              <p class="overlay-caption">[overlay caption here]</p>
              <p class="overlay-text">[overlay text here]</p>
              <p class="overlay-caption">[overlay caption here]</p>
              <p class="overlay-text">[overlay text here]</p>
            </div>
          </div>
          <div class="catalog-item-info">
            <p>[item name here]</p>
            <p>[item price here]</p>
          </div>
        </a>
      </li>
    </ul>
    <!--* OTHER SAME CARDS TO BE ADDED -->
    <button class="button" type="button" data-modal-open>Buy now</button>
  </div>
</section>
