<footer class="footer section-footer">
  <div class="footer-container container">
    <div class="footer-wrap">
      <address class="footer-address">
        <a class="footer-logo" href="index.html">
          <img src="./img/logo.svg" alt="logo" class="icon-footer-logo-mob" />
        </a>
        <ul class="footer-contacts">
          <li class="footer-tel">
            <a href="tel:+380684439426" class="footer-text"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li>
            <a
              href="https://goo.gl/maps/CzJqXiYjEXVcSNe19?coh=178571&entry=tt"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="footer-text"
              >1678 S. Pioneer Road <br />
              Salt Lake City <br />
              UT 84104</a
            >
          </li>
        </ul>
      </address>
      <nav class="footer-navigation">
        <ul class="footer-menu">
          <li class="descr">
            <a href="#about-us" class="footer-text">ABOUT US</a>
          </li>
          <li><a href="#catalog" class="footer-text">CATALOG</a></li>
          <li><a href="#sale" class="footer-text">SALE</a></li>
        </ul>
      </nav>
      <ul class="footer-soc-list">
        <li class="footer-soc-item">
          <a
            class="footer-soc-link"
            href="http://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer-soc-icon">
              <use href="./img/icons-sprite.svg#icon-facebook-mob"></use></svg
          ></a>
        </li>
        <li class="footer-soc-item">
          <a
            class="footer-soc-link"
            href="http://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer-soc-icon">
              <use href="./img/icons-sprite.svg#icon-instagram-mob"></use></svg
          ></a>
        </li>
        <li class="footer-soc-item">
          <a
            class="footer-soc-link"
            href="http://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer-soc-icon">
              <use href="./img/icons-sprite.svg#icon-youtube-mob"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <div class="copyright">
      <p class="copyright-text">
        &copy;2022 The Watch Spot. All rights reserved.
      </p>
      <ul class="agreement">
        <li class="agreement-item">
          <a href="#" class="copyright-text copyright-link">Privacy Policy</a>
        </li>
        <li class="agreement-item">
          <a href="#" class="copyright-text copyright-link">Terms of Service</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
