<footer class="footer section">
  <div class="container">
    <nav>
      
        ><svg mobile="./img/icons-sprite.svg#icon-logofooter-mob"></svg
        ><svg tablet="./img/icons-sprite.svg#icon-logofooter"></svg
      ></a>
      <ul>
        <li><a href="#about-us">ABOUT US</a></li>
        <li><a href="#catalog">CATALOG</a></li>
        <li><a href="#sale">SALE</a></li>
      </ul>
    </nav>
    <address>
      <ul>
        <li><a href="tel:+380684439426">+380 (68) 443-94-26</a></li>
        <li>
          <a
            href="https://goo.gl/maps/CzJqXiYjEXVcSNe19?coh=178571&entry=tt"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >1678 S. Pioneer Road <br />
            Salt Lake City <br />
            UT 84104</a
          >
        </li>
      </ul>
    </address>
    <div>
      <ul class="soc-list list">
        <li class="soc-item">
          <a class="soc-link link" href>
            <svg class="soc-icon" width="24" height="24">
              <use href="./img/icons-sprite.svg#icon-facebook-mob"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a class="soc-link link" href>
            <svg class="soc-icon" width="24" height="24">
              <use href="./img/icons-sprite.svg#icon-instagram-mob"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a class="soc-link link" href>
            <svg class="soc-icon" width="24" height="24">
              <use href="./img/icons-sprite.svg#icon-youtube-mob"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <p>&copy;2022 The Watch Spot. All rights reserved.</p>
      <ul>
        <li>
          <label><a href="" class="policy">Privacy Policy</a></label>
        </li>
        <li>
          <label><a href="" class="termes">Terms of Service</a></label>
        </li>
      </ul>
    </div>
  </div>
</footer>
