<header class="header section-header">
    <div class="container header-container">
        <nav class="header-navigation">
            <a class="header-logo link" href="./index.html">
                <svg class="header-logo-icon" width="14" height="14">
                    <use href="../img/icons-sprite.svg#icon-logoheader-mob"></use>
                </svg>
                <p class="header-logo-text">thewatchspot</ap>
            </a>
            <ul class="header-list list mob-hidden">
                <li class="header-item">
                    <a class="header-link link" href="#about_us">About us</a>
                </li>
                <li class="header-item">
                    <a class="header-link link" href="#catalog">Catalog</a>
                </li>
                <li class="header-item">
                    <a class="header-link link" href="#sale">Sale</a>
                </li>
            </ul>
        </nav>
        <a class="header-tel link mob-hidden" href="tel:+380684439426">+380 (68) 443-94-26</a>
        <button class="menu-open-btn" data-menu-open type="button">
            <svg class="menu-open-icon" width="20" height="14">
                <use href="../img/icons-sprite.svg#icon-burger-menu"></use>
            </svg>
        </button>
    </div>
</header>