<section class="hero section">
  <div class="container hero-container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture
            ><source
              srcset="
                ./img/hero/slider-des-1-1x.webp 1x,
                ./img/hero/slider-des-1-2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/hero/slider-tab-1-1x.webp 1x,
                ./img/hero/slider-tab-1-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/hero/slider-mob-1-1x.webp 1x,
                ./img/hero/slider-mob-1-2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="../img/hero/slider-des-1-1x.webp" alt="first watches" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture
            ><source
              srcset="
                ./img/hero/slider-des-2-1x.webp 1x,
                ./img/hero/slider-des-2-2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/hero/slider-tab-2-1x.webp 1x,
                ./img/hero/slider-tab-2-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/hero/slider-mob-2-1x.webp 1x,
                ./img/hero/slider-mob-2-2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/hero/slider-des-2-1x.webp" alt="first watches" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture
            ><source
              srcset="
                ./img/hero/slider-des-3-1x.webp 1x,
                ./img/hero/slider-des-3-2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/hero/slider-tab-3-1x.webp 1x,
                ./img/hero/slider-tab-3-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/hero/slider-mob-3-1x.webp 1x,
                ./img/hero/slider-mob-3-2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/hero/slider-des-3-1x.webp" alt="first watches" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/hero/slider-des-4-1x.webp 1x,
                ./img/hero/slider-des-4-2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/hero/slider-tab-4-1x.webp 1x,
                ./img/hero/slider-tab-4-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/hero/slider-mob-4-1x.webp 1x,
                ./img/hero/slider-mob-4-2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/hero/slider-des-4-1x.webp" alt="first watches" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture
            ><source
              srcset="
                ./img/hero/slider-des-5-1x.webp 1x,
                ./img/hero/slider-des-5-2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/hero/slider-tab-5-1x.webp 1x,
                ./img/hero/slider-tab-5-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/hero/slider-mob-5-1x.webp 1x,
                ./img/hero/slider-mob-5-2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/hero/slider-des-5-1x.webp" alt="first watches" />
          </picture>
        </div>
      </div>
      <div class="under-wrap">
        <div class="btn-wrap">
          <button type="button" class="button-prev">
            <svg class="button-icon" width="32" height="32">
              <use href="./img/icons-sprite.svg#icon-left-mob"></use>
            </svg>
          </button>
          <button type="button" class="button-next">
            <svg class="button-icon" width="32" height="32">
              <use href="./img/icons-sprite.svg#icon-right-mob"></use>
            </svg>
          </button>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <picture class="hero-image"
      ><source
        srcset="
          ./img/hero/hero-img-des-1x.jpg 1x,
          ./img/hero/hero-img-des-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/hero/hero-img-tab-1x.jpg 1x,
          ./img/hero/hero-img-tab-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/hero/hero-img-mob-1x.jpg 1x,
          ./img/hero/hero-img-mob-2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img src="./img/hero/hero-img-des-1x.jpg" alt="wathces on hand" />
    </picture>
  </div>
</section>
