<div class="mobile-menu" data-menu>
  <div class="mobile-container">
    <a class="" href="./index.html">
      <img
        class="icon-logoheader-mob"
        src="./img/logo.svg"
        alt="logo"
        width="14"
        height="14"
      />
    </a>
    <p class="mobile-logo-text">thewatchspot</p>
    <button class="mobile-menu-close-btn" data-menu-close>
      <svg class="modal-close-icon" width="12" height="12">
        <use href="./img/icons-sprite.svg#icon-close-mob-modal"></use>
      </svg>
    </button>
  </div>
  <nav class="mobile-navigation">
    <ul class="mobile-item">
      <li class="mobile-list">
        <a href="">About us</a>
      </li>
      <li class="mobile-list"><a href="">Catalog</a></li>
      <li class="mobile-list"><a href="">Sale</a></li>
    </ul>
  </nav>
</div>
