<div class="mobile-menu is-hidden" data-menu>
  <div class="container">
    <div class="mobile-container">
      <a class="mobile-logo link" href="./index.html">
        <img
          class="icon-logoheader-mob"
          src="./img/logo.svg"
          alt="logo"
          width="14"
          height="14"
        />
        <p class="mobile-logo-text">thewatchspot</p>
      </a>
      <button class="mobile-menu-close-btn" data-menu-close>
        <svg class="mobil-close-icon" width="24" height="24">
          <use href="./img/icons-sprite.svg#icon-close-mob-modal"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-navigation">
      <ul class="mobile-item list">
        <li class="mobile-list link">
          <a class="mobile-link" href="./index.html#about-us" target="_blank"
            >About us</a
          >
        </li>
        <li class="mobile-list link">
          <a class="mobile-link" href="./index.html#catalog" target="_blank"
            >Catalog</a
          >
        </li>
        <li class="mobile-list link">
          <a class="mobile-link" href="./index.html#sale" target="_blank"
            >Sale</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
