<section class="section" id="sale">
    <div class="container sale-container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-gallery">
        <div class="sale-gallery-list">
            <ul class="sale-gallery-list">
                <li class="sale-gallery-list-item">
                    <picture>
                        <source srcset="../img/sale/sale-1watch-tab.jpg 1x, ../img/sale/sale-1watch-tab-2x.jpg 2x"
                            media="(min-width: 768px)"><img class="sale-gallery-img"
                          src="../img/sale/sale-1watch-mob.jpg"
                         srcset="../img/sale/sale-1watch-mob.jpg 1x, ../img/sale/sale-1watch-mob-2x.jpg 2x"
                            alt="watch photo"></img>
                    </picture>
                </li>
                <li class="sale-gallery-list-item">
                    <picture>
                        <source srcset="../img/sale/sale-2watch-tab.jpg 1x, ../img/sale/sale-2watch-tab-2x.jpg 2x"
                            media="(min-width: 768px)"><img class="sale-gallery-img"
                            src="../img/sale/sale-2watch-mob.jpg"
                            srcset="../img/sale/sale-2watch-mob.jpg 1x, ../img/sale/sale-2watch-mob-2x.jpg 2x"
                            alt="watch photo"></img>
                    </picture>
                </li>
                <li class="sale-gallery-list-item">
                    <picture>
                        <source srcset="../img/sale/sale-3watch-tab.jpg 1x, ../img/sale/sale-3watch-tab-2x.jpg 2x"
                            media="(min-width: 768px)"><img class="sale-gallery-img"
                            src="../img/sale/sale-3watch-mob.jpg"
                            srcset="../img/sale/sale-3watch-mob.jpg 1x, ../img/sale/sale-3watch-mob-2x.jpg 2x"
                            alt="watch photo"></img>
                    </picture>
                </li>
                <li class="sale-gallery-list-item">
                    <picture>
                        <source srcset="../img/sale/sale-4watch-tab.jpg 1x, ../img/sale/sale-4watch-tab-2x.jpg 2x"
                            media="(min-width: 768px)"><img class="sale-gallery-img"
                            src="../img/sale/sale-4watch-mob.jpg"
                            srcset="../img/sale/sale-4watch-mob.jpg 1x, ../img/sale/sale-4watch-mob-2x.jpg 2x"
                            alt="watch photo"></img>
                    </picture>
                </li>
            </ul>
        </div>
        <picture class="sale-gallery-picture">
            <source srcset="../img/sale/sale-watch-big.png 1x, ../img/sale/sale-watch-big-2x.png 2x"
                media="(min-width: 768px)"><img class="sale-gallery-big-img" src="../img/sale/sale-watch-big-mob.png"
                srcset="../img/sale/sale-watch-big-mob.png 1x, ../img/sale/sale-watch-big-mob-2x.png 2x"
                alt="watch big photo">
        </picture>
    </div>
    <div class="sale-product-descriprion">
    <div class="sale-product">
        <h3 class="sale-product-title">Greenlane Watch By Police For MenHT</h3>
        <p class="sale-product-text">Product tag: PEWJK2227003</p><span class="sale-product-price1">€700</span><span class="sale-product-price2">€1000</span>
    </div>
    <div>
        <h3 class="sale-subtitle sale-descriprion">Description</h3>
        <p class="sale-text">Richly detailed with an understated design - the Police Men’s Greenlane watch features a versatile
            multifunction design
            that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial. The
            timepiece
            exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>
    </div>
    <div>
        <h3 class="sale-subtitle sale-details">DETAILS & FEATURESTION</h3>
        <p class="sale-text">Gender: man<br>
            Size: 46x54.5mm<br>
            Case Colour: Steel<br>
            Band Material: Metal<br>
            Case Material: Metal<br>
            Features: Multifunction<br>
            Water Resistant: 5 (ATM)<br>
            Band Colour: Steel</p>
    </div>
    </div>
    </div>
</section>