.about-section .section {
  background-color: var(--color-white);
}

.about-title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 32px;
  line-height: calc(40 / 32);
  letter-spacing: -0.02em;
  color: var(--color-darkgreen);
}

.about-inform {
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.about-text {
  font-weight: 300;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: var(--color-black);
}

.about-text:not(:last-child) {
  padding-bottom: 20px;
}

.sample {
  width: 335px;
  height: 365px;
}

.sample.video {
  display: none;
}

.red-text {
  color: #ff0000;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .about-block {
    display: flex;
    margin-bottom: 40px;
  }

  .about-title {
    min-width: 174px;
    margin-right: 40px;
    margin-bottom: 0;
    font-size: 40px;
    line-height: calc(44 / 40);
    color: var(--color-darkgreen);
  }

  .about-inform {
    display: flex;
    margin-bottom: 0;
    gap: 20px;
  }

  .about-text {
    width: 220px;
  }

  .about-text:last-child {
    width: 250px;
  }

  .about-text:not(:last-child) {
    padding-bottom: 0;
  }

  .sample {
    width: 704px;
    height: 465px;
  }

  .sample.video {
    display: unset;
  }

  .sample.video-mob {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .about-title {
    margin-right: 110px;
  }

  .about-inform {
    max-width: 859px;
    height: 90px;
    margin-right: 33px;
    gap: 40px;
  }

  .about-text {
    width: 439px;
  }

  .about-text:last-child {
    width: 380px;
    margin-bottom: 33px;
  }

  .about-sample {
    display: flex;
    justify-content: flex-end;
  }

  .sample {
    width: 892px;
    height: 500px;
  }
}
