.footer {
  background-color: var(--color-darkgreen);
  color: var(--color-white);
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 136px;
  margin-bottom: 80px;
}

.footer-address {
  width: 141px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 40px;
  width: 40px;
  height: 40px;
}

.footer-contacts {
  color: var(--color-white);
}

.footer-link,
.copyright-link {
  border: 1px solid transparent;
  border-radius: 4px;
  transition: var(--anim-time);
  padding: 4px;
}

.footer-link:is(:hover, :focus),
.copyright-link:is(:hover, :focus) {
  border: 1px solid var(--color-white);
}

.footer-tel {
  margin-bottom: 20px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-soc-list {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.footer-soc-link {
  color: var(--color-white);
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-white-10, rgba(255, 255, 255, 0.1));
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--anim-time);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  border: 1px solid var(--color-white);
}

.footer-soc-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-white);
}

.copyright {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.copyright-text {
  color: var(--color-copyright);
  opacity: 0.9;
}

.agreement {
  display: flex;
  gap: 14px;
}

.agreement-item {
  height: 14px;
}

@media screen and (max-width: 767px) {
  .copyright-text {
    font-size: 12px;
    line-height: 1.17;
  }

  .footer-text {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media screen and (min-width: 768px) {
  .footer-logo {
    width: 50px;
    height: 50px;
  }

  .footer-wrap {
    gap: unset;
  }

  .footer-address {
    width: 181px;
  }

  .footer-address {
    margin-right: 136px;
  }

  .footer-menu {
    gap: 18px;
  }

  .footer-soc-list {
    margin-left: auto;
    gap: 16px;
  }

  .footer-soc-link {
    width: 44px;
    height: 44px;
  }

  .footer-soc-icon {
    width: 28px;
    height: 28px;
  }

  .copyright {
    flex-direction: row;
    justify-content: space-between;
  }

  .agreement {
    gap: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-address {
    margin-right: 349px;
  }
}
