.section-header {
  background: #141414;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
}
.icon-logoheader-mob {
  fill: #ffffff;
}
.icon-logoheader {
  fill: #ffffff;
}
.header-logo-text {
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.menu-open-icon {
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .icon-logoheader {
    display: none;
  }
  .header-list {
    display: none;
  }
  .header-tel {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .icon-logoheader-mob {
    display: none;
  }
  .icon-logoheader {
    margin-right: 4px;
  }
  .header-logo-text {
    margin-right: 80px;
    font-size: 15px;
  }
  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-link {
    font-size: 9px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  .header-tel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 48px;
    background: #1e2827;
    border-radius: 8px;
    font-size: 9px;
    line-height: 1.33;
    text-align: center;
    color: #ffffff;
  }
  .menu-open-btn {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
}
