.section-header {
  background: var(--color-black);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
}

.icon-logoheader-mob {
  margin-right: 4px;
}

.header-logo-text {
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--color-white);
}
.menu-open-icon {
  fill: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 4px;

  transition: solid var(--anim-time);
}

.menu-open-icon:is(:hover, :focus) {
  border: 1px solid var(--color-white);
}

@media screen and (max-width: 767px) {
  .icon-logoheader {
    display: none;
  }
  .header-list {
    display: none;
  }
  .header-tel {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .icon-logoheader-mob {
    display: none;
  }
  .icon-logoheader {
    margin-right: 4px;
  }
  .header-logo-text {
    margin-right: 80px;
    font-size: 15px;
  }
  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-link {
    padding: 2px;
    font-size: 9px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 4px;

    transition: solid var(--anim-time);
  }
  .header-link:is(:hover, :focus) {
    border: 1px solid var(--color-white);
  }
  .header-tel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 48px;
    background: var(--color-darkgreen);
    border: 1px solid var(--color-black);
    border-radius: 8px;
    font-size: 9px;
    line-height: 1.33;
    text-align: center;
    color: var(--color-white);

    transition: solid var(--anim-time);
  }
  .header-tel:is(:hover, :focus) {
    border: 1px solid var(--color-white);
  }
  .menu-open-btn {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
}
