.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms linear, visibility 250ms linear;
    /* position: relative; */
}
.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 40px 20px;
}
.modal-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 12px;
    background: #FFFFFF;
    margin-left: auto;
    width: 20px;
    height: 20px;
}
.modal-close-icon {
    display: none; 
    stroke: #141414;
}
.modal-close-icon-mob{
    stroke: #141414;
}
.modal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
}
.modal-image-wrap {
    width: 276px;
    display: flex;
    justify-content: center; 
    align-items: center;
    
}
.modal-info-text {
    padding-top: 14px;
    padding-bottom: 40px;
}
.modal-text-img {
    width: 276px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.modal-praice {
    margin-top: 4px;
}

.modal-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 100%;
}
.modal-label{
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: -0.02em;
    color: #141414;
    width: 100%;
}

.modal-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    border: 1px solid rgba(20, 20, 20, 0.5);
    border-radius: 8px;
    width: 100%;
}

.modal-textarea {
    padding: 12px 16px;
    resize: none;
    height: 170px;
    border: 1px solid rgba(20, 20, 20, 0.5);
    border-radius: 8px;
    width: 100%;
}
.modal-form-btn {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 18px;
    /* gap: 10px; */
    background: #1E2827;
    color: #FFFFFF;
    font-size: 12px;
    line-height: calc(14/12);
    border-radius: 8px;
    font-family: 'Epilogue';
    width: 100%;
}
.modal-privacy-policy {
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.4);
    font-size: 12px;
    line-height: calc(14/12);
    width: 100%;
}
.label-textarea-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.modal-privacy-wrap{
    width: 100%;
}
@media screen and (min-width: 768px){
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 1;
}
/* .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
} */
.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 744px;
    height: 670px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 40px;
}
.modal-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 12px;
    background: #FFFFFF;
    margin-left: auto;
    width: 24px;
    height: 24px;
}
.modal-close-icon {
    display: block;
    stroke: #141414;
}
.modal-close-icon-mob {
    display: none;
}
.modal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    /* width: 276px; */
}
.modal-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    /* width: 368px; */
    /* height: 100%; */
}
.modal-form:last-child{
    padding-bottom: 0px;
}
.modal-text-img{

}
.label-text{
    display: block;
    margin-bottom: 12px;
}
.modal-form-btn{
    margin-top: 0px;
}
.modal-label{}
}
@media screen and (min-width: 1280px){
.modal{
    width: 904px;
    height: 694px;
}
.modal-card{
    padding-right:40px
}
.modal-input{
    padding-bottom: 24px;
}
.modal-form-btn{
    margin-top: 22px;
}
.modal-privacy-policy{
    max-width: 388px;
    width: 100%;
}
}