@import url(./reset.css);
@import url(./utils.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./about-us.css);
@import url(./catalog.css);
@import url(./new-watches.css);
@import url(./sale.css);
@import url(./footer.css);
@import url(./modal.css);
@import url(./mobile-menu.css);

@font-face {
  font-family: 'Epilogue';
  src: url(../fonts/Epilogue/Epilogue-VariableFont_wght.ttf) format('truetype');
  font-display: swap;
}

:root {
  min-height: 100vh;

  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  font-display: swap;

  color: #141414;
  background-color: #fbfbfb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-white: #ffffff;
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-black: #141414;
  --color-black-50: rgba(20, 20, 20, 0.5);
  --color-black-40: rgba(20, 20, 20, 0.4);
  --color-black-10: rgba(20, 20, 20, 0.1);
  --color-darkgreen: #1e2827;
  --color-copyright: #c6cdd1;
  --main-gap: 40px;
  --anim-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
